.johan-label-cont {
  position: absolute;
  padding: 10px;
  z-index: 1000;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.johan-label-unit {
  margin: 2px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #ABBAAB;
}

.johan-label-sale {
  background-color: #AD4000;
}

.johan-label-free-shipping {
  background-color: #92AD40;
}

.johan-label-best-seller {
  background-color: #4040AD;
}

