<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
if (!$_product = $block->getProduct()) {
    $_product = $block->getData('product');
}
$_viewModel = $block->getData('viewModel');
?>
<?php if ($labels = $_product->getData('labels')):
    $labelArr = explode(',', $labels);
    $literalLabelArr = $_viewModel->getLiteralAttr($labelArr);
    ?>
    <div class="johan-label-cont">
        <table>
            <?php foreach ($literalLabelArr as $lab): ?>
                <tr>
                    <div class="johan-label-unit <?= $block->escapeHtmlAttr($_viewModel->colorLabel($lab)) ?>">
                        <?= /* @escapeNotVerified */
                        $lab ?>
                    </div>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
<?php endif; ?>
